table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vidus {
    display: flex;
    flex-direction: row;
    width: 80vw;
}

.vidus:hover {
   border: solid 1px silver;
}

.title {
    text-align: center;
    width: 40vw;
    margin-left: 5px;
}

.body {
    text-align: center;
    width: 40vw;
}

.head {
    display: flex;
    flex-direction: row;
    background-color: grey;
    width: 80%;
}
.headTitle {
    width: 100%;
    text-align: center;
}
.headBody {
    text-align: center;
    width: 100%;
}
